/* for screens & mobile */
@media screen and (max-width: 600px ), (max-device-width: 600px )  {

    /* Site Header */
    .title.is-1 {
        font-size: 2rem;
    }

    /* Card */
    .card {
        font-size: 2.5rem;
        /*box-shadow: 6px 6px 0 #000;*/
        box-shadow: 0 5px 15px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,.1);
        /*border: 4px solid #000;*/
    }

    .card-header-title {
        /*justify-content: center;*/
    }

    /* Card Content */
    .level {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .level-item {
        justify-content: center;
        font-size: 1.5rem;
        margin: 0.5em;
    }

    /* Grabs price text */
    .content p:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .shrink-me {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.85rem;
    }

}
