
.coin {
   margin:1em auto;
   /*text-align: center;*/
}

/*overwrite hero padding*/
.hero.is-medium .hero-body {
   padding: 0;
}

.hero.is-primary {
   background-image: linear-gradient(-90deg, #3849E0, #E03881);
   font-size: 1em;
   box-shadow: 0 5px 15px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,.1);
   /*justify-items: center;*/
}

.little {
   font-size: small;
   text-decoration: none;
}

.app {
   margin: 0 auto;
   max-width: 40em;
   padding:0 .62em;
   font:1.7em/1.62 menlo, monospace, sans-serif;
   opacity: 0.8;
   -webkit-font-smoothing: antialiased;
   text-rendering: geometricPrecision;
}

.coin-information {
   font: 24px menlo, monospace, sans-serif;
}

.card {
   font-size: 2rem;
   box-shadow: 0 5px 15px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,.1);
}


/*for screens*/
@media screen and (max-width: 600px ) {
   .media {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
   }
   .media-left {
      justify-content: center;
   }
   .media-content {
      margin: 0.5em;
   }
   .card-header-title {
      justify-content: center;
   }
   .card {
      font-size: 2rem;
      box-shadow: 0 5px 15px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,.1);
      border-radius: 1.5%;
   }
   .content p:not(:last-child) {
      margin-bottom: 0.5em;
   }

}

/*for mobile*/
@media screen and (max-device-width: 600px ) {
    .app {
       max-width: inherit;
    }
   .media {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
   }
   .media-left {
      justify-content: center;
   }
   .media-content {
      margin: 0.5em;
   }
   .card-header-title {
      justify-content: center;
   }
   .card {
      font-size: 3rem;
      box-shadow: 0 5px 15px rgba(10,10,10,0.2), 0 0 0 1px rgba(10,10,10,.1);
      border-radius: 1.5%;
   }
   .coin-information {
      font-size: 2.5rem;
   }
   .little {
      font-size: 1.5rem;
   }

   .title.is-1 { font-size: 4rem}
}

